<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    </div>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
      *ngFor="let server of serverElements" [element]="server">
        <p>
          <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
          <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
